.sort-toggle {
  height: 30px;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  background-color: blueviolet;
  color: white;
  transition: transform 0.2s;
}

.sort-toggle:hover {
  transform: translateY(-5px);
}
